@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@import './theme.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply scroll-smooth;
  }

  body {
    @apply font-sans antialiased;
    font-family: var(--font-family);
    background-color: var(--page-bg);
    color: var(--text);
  }

  input[type='file']::file-selector-button {
    @apply hidden;
  }
}
