@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply scroll-smooth;
  }

  body {
    @apply font-sans antialiased;
    font-family: 'Inter', sans-serif;
  }

  input[type='file']::file-selector-button {
    @apply hidden;
  }
}
